{% extends "base.html" %}
{% block body %}
    <h1>Movie Details</h1>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ movie.img.url }}" class="img-fluid rounded-start" alt="{{ movie.name }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ movie.name }}</h5>
              <p class="card-text">{{ movie.desc }}</p>
              <p class="card-text"><small class="text-body-secondary">{{ movie.year }}</small></p>
              <p class="card-text"><a class="btn btn-primary me-4" href="{% url 'movieapp:update' movie.id %}">Edit</a><a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">Delete</a></p>
            </div>
          </div>
        </div>
      </div>    
{% endblock body %}
